// SETTINGS
// COLORS
// ------------------





// GRAY SCALE
// =================================================
$color-black:   #000000;
$color-gray:    #3f3f3f;
$color-silver:  #d5d5d5;
$color-light:   #ececec;
$color-white:   #ffffff;


// BRAND
// =================================================
$color-brand-1:       #42b983;
$color-brand-2:       #2c3e50;